<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <title>User</title>
    <script>
        function deleteCookie() {
            document.cookie = "is_login=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        }
    </script>
</head>
<body>
    <div class="container mt-5">
        <h3 th:text="Hello+' '+${userName}" class="text-success"></h3>
        
        <a href="http://localhost/ex2app2/index.php" class ="btn btn-primary">Redirect to php app</a>
        
        
        <form action="/login" method="post">
            <input type="submit" class="btn btn-warning" value="Logout" onclick="deleteCookie()">
        </form>
        
    </div>
</body>
</html>